@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import 'remixicon/fonts/remixicon.css';


:root {
    --primary-color: #111317;
    --primary-color-light: #1f2125;
    --primary-color-extra-light: #35373b;
    --secondary-color: #f9ac54;
    --secondary-color-dark: #d79447;
    --text-light: #d1d5db;
    --white: #ffffff;
    --max-width: 1200px;
  }

.privacy__container {
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.privacy__content h1 {
    color: var(--secondary-color);
}

.privacy__content h2 {
    color: var(--secondary-color);
    font-size: large;
}

.privacy__content h3 {
    color: var(--secondary-color);
    font-size: medium;
}

.privacy__content p {
    color: var(--white);
}

.privacy__content li {
    color: var(--white);
}